* {box-sizing: border-box;}
ul{list-style:none; padding:0; margin:0;}
.d-flex {display: flex;}
input::-webkit-input-placeholder {
  color: #f5f5f5;
}
input::-moz-placeholder {
  color: #f5f5f5;
}
:-ms-input-placeholder {
  color: #f5f5f5;
}
:-moz-placeholder {
  color: #f5f5f5;
}
button {cursor: pointer;}
.btn-transparent {background: transparent; border: 0; outline: 0!important;}

#chat_panel {height: 92vh; max-width: 670px; min-height: 300px; max-height: 720px; background: #2A2A2A; padding:10px; border-radius: 12px; } 
.back_btn {background: transparent; padding: 0; border: 0; position: absolute; top: 5px; left: 0; cursor: pointer;}

#sidepanel {float: left; border-radius: 12px; min-width: 240px; max-width: 240px; height: 100%; background: #181818;
  border:1px solid #707070; color: #fff; padding: 12px; overflow: hidden; position: relative; }
.chat_header {width: 100%; margin-bottom: 20px;}
.c_title_bar {text-align: center; position: relative; padding: 0 40px 15px;}
.chat_header h1 {font-size:20px; color: #fff; margin: 0;}
.btn_groups {width: 100%; margin: 0 0 3px;}
.btn_edit {color: #fff; width: 100%; padding: 10px; font-size:15px;}
.btn_group_create {color: #79AD77; width: 100%; font-size:15px;}

#search {width: 100%; }
#search label {position: absolute; margin:9px 0 0 15px;}
#search i svg {width: 14px; height: 18px;}
#search input {padding: 10px 0 10px 46px; width:100%; border-radius: 15px; border: 0; background: #707070; color: #fff; }
#search input:focus {outline: none; background: #333;}

#contacts {height: calc(100% - 220px); overflow-y: auto; overflow-x: hidden; padding: 35px 15px 15px 25px; background: #212121; border-radius: 10px; position: relative; }
#contacts hr {border-top: 0; border-color: #707070; margin: 10px 0 20px; width: 100%; position: absolute; top: 10px; left:0; z-index: 1;}

@media screen and (max-width: 735px) {
  #contacts::-webkit-scrollbar {
    display: none;
  }
}

#contacts::-webkit-scrollbar {
  width: 4px;
  border-radius: 10px;
  background: #554B52;
}
#contacts::-webkit-scrollbar-thumb {
  background-color: #55C1D1;
}

#contacts ul li {position: relative; margin: 0 0 10px; padding-bottom: 14px; cursor: pointer; } 
#contacts ul li::after {
  content: '';
  background: #707070;
  width: calc(100% - 50px);
  height: 1px;
  position: absolute;
  bottom: 0;
  right: 0;
}
#contacts ul li:last-child {margin-bottom: 0; padding-bottom: 0;} 
#contacts ul li:last-child:after {display: none;} 

.contact_items {width:100%; display: flex; justify-content: flex-start; } 
.contact_items figure {min-width:36px; min-width: 36px; max-height: 36px; width: 36px; height: 36px; position: relative; margin: 0;}
.contact_items figure img {border-radius: 7px; width: 100%; height: 100%; object-fit: cover; -moz-transition: 0.3s border ease;
  -o-transition: 0.3s border ease; -webkit-transition: 0.3s border ease; transition: 0.3s border ease;}
.msg_time {position: absolute; right: 0; top: 0; color: #fff; font-size: 11px;}
.contact-status {position: absolute; right: -4px; bottom: -4px; width: 10px; height: 10px; border-radius: 50%; background: #D3D3D3; }
.contact-status.online {background: #2ecc71; }
.contact_info { padding:0px 15px 0 0; margin:auto 0 auto 10px; width: calc(100% - 10px - 36px); position: relative;}
.contact_info .name {font-weight: 600; font-size: 12px; margin: 0; text-transform: capitalize; padding-right: 30px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.contact_info .preview {margin: 2px 0 0 0; font-weight: 400; font-size: 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -moz-transition: 1s all ease; -o-transition: 1s all ease; -webkit-transition: 1s all ease; transition: 1s all ease; }
#contacts ul li.contact.active  .contact_info .name, #contacts ul li.contact.active .contact_info .preview {color: #55C1D1; } 

.pin_chat {position: absolute; right: 0; bottom: 0px; z-index: 11;}

.chk_icon {display: inline-block; margin-right: 1px; }
.chk_icon svg { width: 12px; height: 10px;}
.read_icon svg path {fill: #55C1D1;}

.invite_team {width: 100%; border-radius: 10px; height: 90px; margin: 15px 0 0; overflow: hidden; position: relative; }
.invite_team span {width: 100%; position: absolute; top: 0; padding:7px 10px; text-align: center; color: #fff; font-size: 14px; text-transform: uppercase; z-index: 1;}
.invite_team img {position: absolute; height: 100%; width: 100%; object-fit: cover;}

/* Right Section */
#chat_panel .content { float: right; padding-left: 10px; width: calc(100% - 240px); height: 100%; border-radius: 10px; overflow: hidden; position: relative; }
.right-header {width: 100%; display: flex; justify-content: space-between; align-items: center; background: #0E0E0E; border-radius: 7px; padding: 10px;} 
.profile_pic {width: 250px;}
.profile_pic figure {margin: 0;width: 40px; height: 40px;}
.profile_pic img {width: 100%; object-fit: cover; height: 100%; border-radius: 50%; object-fit: cover;}
.p_summary {padding: 5px 0 0 0; margin: auto 0 auto 10px; width: calc(100% - 10px - 50px);}
.p_summary h6 {font-weight: 600; font-size: 12px; margin: 0; color: #fff; text-transform: capitalize;}
.p_summary span {color: #fff; margin: 0; font-size: 12px;}

.search_chat {width: 40px; text-align: center; cursor: pointer;}
.search_chat img{width: 20px;}

.messages::-webkit-scrollbar {
  width: 4px;
  background: #554B52;
}
.messages::-webkit-scrollbar-thumb {
  background-color: #55C1D1;
}
.messages ul li {display: block; clear: both; font-size: 14px; margin: 0 0 10px; }
#messageList {width: 100%; padding: 10px;}
.messages {background-color: #000000; margin: 10px 0; border-radius: 10px; height: auto; min-height: calc(100% - 140px); max-height: calc(100% - 140px);
width: 100%; overflow-y: auto; overflow-x: hidden; }
.messages ul li p {display: inline-block; padding: 10px 15px; border-radius: 20px; max-width: 205px; line-height: 130%; position: relative;}
.messages ul li.sent img {margin: 6px 8px 0 0;}
.messages ul li.sent p {background: #646464; color: #fff;margin: 0;}
.messages ul li.replies img {float: right; margin: 6px 0 0 8px;}
.messages ul li.replies p {background: #646464; color: #fff; float: right; }
.messages ul li img {width: 22px; border-radius: 50%; float: left; }
.messages ul li.sent p {border-radius:15px 15px 15px 0 ;}
.messages ul li p::before {
  content: '';
  width: 0; 
  height: 0; 
  position: absolute;  
}
.messages ul li.sent p::before {
  bottom: -13px;
  left: 0;
  border-left: 0px solid transparent;
  border-right: 14px solid transparent;  
  border-top: 13px solid #646464;
}
.messages ul li.replies p::before {
  bottom: -15px;
  right: 0;
  border-right: 0px solid transparent;  
  border-left: 15px solid transparent;
  border-top: 15px solid #646464;
}
.messages ul li.replies p {border-radius:15px 15px 0 15px ;}

@media screen and (min-width: 735px) {
  .messages ul li p {max-width: 60%;}
}

.message-input {width: 100%; }
.message-input .contact_items {position: relative; }
.message-input .contact_items input {height: 40px; float: left; border: none; width: calc(100% - 90px); padding: 11px 32px 10px 8px;
font-size: 0.8em; color: #32465a; }
.message-input .contact_items input:focus {
  outline: none;
} 

.file_attachment {position: absolute; right: 20px; top: 10px; cursor: pointer;}
.file_attachment img {width: 12px;}

.message-input {width: 100%; padding: 10px; background: #000000; border-radius: 10px; }
.msg_field { width: 100%; position: relative; }
.msg_field input {width: 100%; border: 0; padding: 10px 15px; border-radius: 10px; background:#646464; color: #fff; outline: 0!important; height: 40px;}

.read_time {font-size: 10px; font-weight: 700; display: block; margin:2px 0 0;}
.read_time i svg {margin-right: -5px;}
.read_time i svg {width: 12px;}
.unread svg path {fill: #fff;}
.replies .read_time {text-align: right;}
.sent .read_time {text-align: left;}

.record_btn {width: 40px; padding:0; text-align: center;}
